/*
    Media Queries
 */
@import 'lib/_knife.scss';
@import 'lib/breakpoint/_breakpoint.scss';

$small : 480px !default;
$toSmall : 479px !default;
$fromSmall : 480px !default;

$mobile : 0px !default;
$toMobile : 766px !default;
$fromMobile : 0px !default;

$tablet : 767px !default;
$toTablet : 766px !default;
$fromTablet : 767px !default;

$desktop : 1024px !default;
$toDesktop : 1023px !default;
$fromDesktop : 1024px !default;

$monitor : 1330px !default;
$toMonitor : 1329px !default;
$fromMonitor : 1330px !default;

$big : 1440px !default;
$toBig : 1440px !default;
$fromBig : 1440px !default;

/* Custom Font Stacks */
// Adding !important: http://www.wastedpotential.com/solved-google-web-fonts-not-displaying-on-some-macs/
@mixin fontfamily1 {
	//Krone text
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 400;
}
@mixin fontfamily2 {
	// Krone headings
	font-family: 'Cinzel', serif !important;
	font-weight: 400;
}
@mixin fontfamily3 {
	// TJG text + headings
	font-family: 'Tinos', serif !important;
	font-weight: 400;
}
@mixin iconfont {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}
/*
  Colors
*/
// Note: Default styles are for Krone. TJG styles targeted by body class 'tjg'.

// Krone colours
$lightgold        : #a68b52;
$gold             : #c4a364;
$medgold          : #9f8551;
$darkgold         : #8d7d55;
$black            : #020201;
$navy             : #1d2331; //27 35 49
$grey             : #626366;
$lightgrey        : #f1f1f2;
$medgoldA         : rgba(159, 133, 81, 0.75);
$subscribeGoldA   : rgba(159, 133, 81, 0.40);


#nona-overlay-wrap {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 10000;
	display: none;
	top: 0;
	left: 0;
	overflow-y: scroll;

		@include breakpoint(0 $toTablet) {
			background-image: url('../img/ara-mob-tjg-sitegate.jpg');
		}

		&:before{ //disallows clicking through
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";/*IE8*/
			z-index: 1;
		}


		#nona-overlay-inner {
		height: 100%;
		width: 100%;
		z-index: 2;

		#nona-overlay {
			display: flex;
			flex-flow: column;
			height: 100%;

			.landing-panel {
				.logo {
					top: 9%;
					@include breakpoint($tablet) {
						top: 24%;
					}
				}
				&.krone{
					background-image: url('../img/ara-mob-krone-sitegate.jpg');
					@include breakpoint($tablet) {
						background-image: url('../img/ara-krone-sitegate.jpg');
					}
					.logo{
						@include breakpoint($fromTablet $toDesktop) {
							right: 16%;
							left: inherit;
							@include krem ('margin-right', -130px );
						}
					}
				}
				&.tjg{

					@include breakpoint($tablet) {
						background-image: url('../img/ara-tjg-sitegate.jpg');
					}
					.logo{
						top: inherit;
						bottom: 9%;
						background-image: url('../img/tjg-logo-white-trans-icon.svg');
						@include breakpoint((max-height 320px )){
							margin-top: 27%;
						}
						@include breakpoint($tablet) {
							top: 24%;
							bottom: inherit;
						}
						@include breakpoint($fromTablet $toDesktop) {
							left: 16%;
							@include krem ('margin-left', -130px );
						}
					}
				}
			}
			a {
				&#nona_verify {
					border: 1px solid $gold;
					color: $gold;

					display: block;
				    font-size: 1.3125rem;
				    line-height: 26px;
					text-decoration: none;
					min-width: 100%;
					outline: none;
					position: relative;
					-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
					transition: all 0.3s;
					@include krem('padding',5px);
					@include kprefix(0.5, true);

					&:after {
						content: '';
						position: absolute;
						z-index: -1;
						-webkit-transition: all 0.3s;
						-moz-transition: all 0.3s;
						transition: all 0.3s;

						width: 0%;
						height: 100%;
						top: 0;
						left: 0;
						background: $gold;
					}

					&:hover, &:active{
						text-decoration: none;
						cursor: pointer;
						color: #fff;
						// background: $gold;
						&:after {
							width: 100%;
						}
					}
				}
			}

			.agegate-wrap {
				display: none;
				position: absolute;
				top: 47%;
				left: 50%;
				background: #fff;
				border: 1px solid $gold;
				color: $gold;
				text-align: center;
				z-index: 2;
				font-family: 'Cinzel', serif !important;
			    font-weight: 400;
				@include krem('width',230px);
				@include krem('margin-left',-115px);
				@include krem('margin-top',-130px);
				@include krem('padding-left',20px);
				@include krem('padding-right',20px);
				@include breakpoint($tablet) {
					top: 40%;
				}
				.agegate {
					#agegate-form {
						.mbsc-mobiscroll{
							.dwwb{
								background: #fff;
								span {
									display: block;
								}
							}
							.dwwol {
							    border: none;
							}
							.dwwr{
								@include fontfamily2();
							}
							.dw-sel .dw-i {
								color: $darkgold;
								font-size: 1.35em;
							}
							.dwwc > .dwfl {
								border-left: none;
							}
							i{
								color: $gold;
								@include krem('font-size',40px);

							}
						}
					}
				}

				#error-too-young {
					display: none;
					color: #BC2F3C;
					p {
						margin-bottom: 0;
						margin-top: 5px;
						padding: 5px;
						border: 1px solid;
					}
				}
			}
		}
	}
}
