body.overlay-active {
  overflow: hidden; }
body #nona-overlay-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #e6e6e6;
  display: none;
  top: 0;
  left: 0;
  overflow-y: scroll; }
  body #nona-overlay-wrap #nona-overlay-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    height: 500px;
    width: 500px;
    z-index: 2; }
    body #nona-overlay-wrap #nona-overlay-inner #nona-overlay {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column;
      height: 100%; }
